/* Copyright 2012 Google Inc. All Rights Reserved.
You may study, modify, and use this example for any purpose.
Note that this example is provided "as is", WITHOUT WARRANTY
of any kind either expressed or implied. */
body {
  font: 400 16px/24px Roboto,Noto Sans,Noto Sans JP,Noto Sans KR,Noto Naskh Arabic,Noto Sans Thai,Noto Sans Hebrew,Noto Sans Bengali,sans-serif;
  margin: 16px;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-family: "Google Sans", "Noto Sans", "Noto Sans JP", "Noto Sans KR", "Noto Naskh Arabic", "Noto Sans Thai", "Noto Sans Hebrew", "Noto Sans Bengali", sans-serif;
  font-size: 32px;
  font-weight: 400;
}

h3 {
  font-family: "Google Sans", "Noto Sans", "Noto Sans JP", "Noto Sans KR", "Noto Naskh Arabic", "Noto Sans Thai", "Noto Sans Hebrew", "Noto Sans Bengali", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.intro-text {
  max-width: 850px;
}

.note {
  background: #e1f5fe;
  color: #01579b;
  font-size: 14px;
  margin: 16px -40px;
  padding: 16px 40px;
}

.note > span {
  position: absolute;
  font-family: "Material Icons";
  font-size: 24px;
  -webkit-font-smoothing: antialiased;
}

.note > p {
  margin: 0 0 0 32px;
}

.main-intro p {
  width: 640px; /* same as video player */
}

.vast-controls {
  max-width: 640px;
  width: 100%;
  margin-top: 1.5em;
}

.button-blue {
  background: #1a73e8;
  border: 0;
  color: #fff;
  line-height: 36px;
  border-radius: 5px;
  padding: 0 24px;
  margin: 0 0 14px;
  font-family: "Google Sans", "Noto Sans", "Noto Sans JP", "Noto Sans KR", "Noto Naskh Arabic", "Noto Sans Thai", "Noto Sans Hebrew", "Noto Sans Bengali", sans-serif;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.play-button,
.volume-button {
  cursor: pointer;
}

.radio-control {
  width: 11.5em;
  float: left;
}

.radio-control.label {
  font-weight: bold;
}

.radio-control > label,
.radio-control > input,
.checkbox-control > label,
.checkbox-control > input {
  cursor: pointer;
}

.radio-control.small {
  width: 7em;
}

.radio-control.large {
  width: 11em;
}

#mime-checkboxes,
#vpaid-radios,
#preloading-radios{
  float: left;
  max-width: 600px;
  width: 100%;
}

#preloading-radios {
  height: 30px;
}

#preloading-label {
  padding-top: 10px;
}

#http-warning p {
  max-width: 640px;
  width: 100%;
}

.checkbox-control,
.radio-control {
  width: 11.5em;
  float: left;
}

.checkbox-control.label,
.radio-control.label {
  font-weight: bold;
}

.checkbox-control.small,
.radio-control.small {
  width: 7em;
}

.checkbox-control.large,
.radio-cotnrol.large {
  width: 11em;
}

#advanced-controls-wrapper {
  min-height: 1.5em;
}

#advanced-controls-header {
  width: 11em;
  height: 1.5em;
  font-weight: bold;
  float: left;
  cursor: pointer;
}

#advanced-controls-arrow {
  font-weight: normal;
  float: left;
  padding-right: 6px;
}

#advanced-controls {
  margin-left: 0;
  padding-left: 30px;
  margin-top: 10px;
  overflow: hidden;
  display: none;
}

#mimeTypeSelect {
  overflow: hidden;
}

#vast-xml {
  display: none;
}

#vast-xml-radio,
#vast-tag-radio {
  cursor: pointer;
}

#http-warning {
  display: none;
}

.vast-controls input {
  margin-bottom: .8em;
}

.vast-controls input[type=checkbox],
.vast-controls input[type=radio] {
  margin-bottom: 2px;
}

.vast-controls textarea#vast-tag-url {
  margin-bottom: .8em;
  width: 99%;
  height: 2.5em;
  word-break: break-all;
}

.vast-controls textarea#vast-xml {
  margin-bottom: 1em;
  width: 99%;
  height: 7em;
}

.link {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}


#test-ad-button {
  margin-bottom: 1em;
  float: left;
}

#share-button-wrapper {
  height: 39px;
}

#share-link-button {
  margin-top: 1em;
  float: left;
}

#shorten-share-link-checkbox-div {
  margin-top: 17px;
  display: none;
}

#shorten-share-link-checkbox {
  margin: 0;
  margin-left: 0.5em;
}

#share-link-text {
  display: none;
  height: 10em;
  margin-top: 1em;
  width: 99%;
}

.report-card-wrapper {
  top: 3.5em;
  height: 410px;
}

.report-header {
  background-color: #dcf6db;
  font-weight: bold;
  padding-left: 3px;
  font-size: 1.3em;
}

.report p {
  margin-left: 4px;
  font-weight: bold;
}

.report-events-wrapper {
  padding-bottom: 0;
  margin-top: 50px;
}

#report-events {
  max-height: 20.5em;
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 700px;
  width: 100%;
  height: 245px;
  margin: 0;
}

#report-events li {
  font-weight: normal;
  list-style: none;
  margin-left: -2em;
}

#clear-log-button {
  margin-top: 5px;
}

.divider {
  border-top: 2px solid black;
  margin-bottom: 1em;
  margin-top: 1em;
  position: relative;
}

.divider h3 {
  margin-top: 1em;
}

#gc-pagecontent .divider h3 {
  margin-top: .7em;
  margin-bottom: .7em;
}

.video-player-wrapper {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  display: block;
  position: relative;
  background-color: black;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 640px;
  text-align: left;
}

.video-stream {
  width: 100%;
  max-width: 640px;
}

#h5-ad-container {
  position: absolute;
  top: 0;
}

#video-controls {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  background-color: white;
  display: block;
  width: 100%;
  max-width: 640px;
  height: 27px;
  position: absolute;
  bottom: -20px;
}

#video-controls table {
  margin: 0;
  border: 0;
}

#video-controls td {
  padding: 0;
}

#video-controls .player-chrome td.branding-segment {
  display: none;
}

.video-player-wrapper .player-chrome td {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  border: 1px solid #ccc;
  white-space: nowrap;
  font-size: 26px;
  font-weight: normal;
  color: black;
  text-align: left;
}

#video-controls td {
  padding: 0;
}

.video-player-wrapper .player-chrome .play-segment {
  box-shadow: 3px 0 3px #c2c2c2;
  -webkit-box-shadow: 3px 0 3px #c2c2c2;
  -moz-box-shadow: 3px 0 3px #c2c2c2;
  cursor: pointer;
}

.video-player-wrapper .player-chrome .duration-segment {
  vertical-align: middle;
}

.video-player-wrapper .player-chrome .progress-segment {
  vertical-align: middle;
  width: 100%;
}

.video-player-wrapper .player-chrome .progress-text {
  font-size: 11px;
  font-family: Arial,Helvetica,sans-serif;
  margin-left: 10px;
  margin-right: 10px;
}

.video-player-wrapper .progress-bar {
  height: 18px;
  overflow: hidden;
  z-index: 20;
  width: 100%;
}

.video-player-wrapper .progress-bar .progress-list {
  height: 10px;
  width: 100%;
  margin-top: 4px;
  cursor: pointer;
}

.video-player-wrapper .progress-bar .progress-list .play-progress {
  cursor: pointer;
}

.video-player-wrapper .progress-bar .progress-list .play-progress {
  display: block;
  float: left;
  background-color: #c80000;
  opacity: 1.0;
  height: 100%;
}

.video-player-wrapper .player-chrome .volume-segment .volume-button {
  display: inline-block;
  display: -moz-inline-box;
  vertical-align: middle;
}

.video-player-wrapper .player-chrome .play-button .icon:hover {
  background-position: -29px 0;
}

.video-player-wrapper .player-chrome .volume-button .icon {
  background-position: 0 -48px;
}

.video-player-wrapper .player-chrome .volume-button .icon:hover {
  background-position: -29px -48px;
}

.video-player-wrapper .player-chrome td>button.pause-button>.icon {
  background-position: 0 -24px;
}

.video-player-wrapper .player-chrome td>button.pause-button>.icon {
  background-position: -29px -24px;
}

.video-player-wrapper .player-chrome .volume-button[value=off] .icon {
  background-position: 0 -120px;
}

.video-player-wrapper .player-chrome .volume-button[value=off]:hover .icon {
  background-position: -29px -120px;
}

.video-player-wrapper .player-chrome td>button>.icon {
  background-image: url(https://s.ytimg.com/yt/img/html5_player_new-vfl167116.png);
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  padding: 0 0;
  margin: 0 0;
  display: block;
  width: 30px;
  height: 25px;
}

.player-chrome {
  background-color: #f7f7f7;
  background: -moz-linear-gradient(top,#d6d6d6,white);
  background: -webkit-gradient(linear,left top,left bottom,from(#d6d6d6),to(white));
  border-collapse: collapse;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  opacity: 0.5;
  -webkit-transition-property: opacity;
  -webkit-transition-delay: 3s;
  -webkit-transition-duration: 1s;
  width: 100%;
}

.volume-button {
  margin-left: 10px;
}

#player-control-switch {
  position: relative;
  left: 18em;
  margin-top: .5em;
}

.ad,
.ad-inset {
  float: left;
}

.vsi-companion-ad {
  border: 1px dashed black;
  margin: 2px;
}

.ad img {
  padding: 0;
  border: none;
}

.clear-left {
  clear: left;
}

#mediumRectangle {
  width: 302px;
  height: 252px;
}

#rectangle {
  width: 182px;
  height: 152px;
}

#leaderboard {
  width: 730px;
  height: 92px;
}

#smallBanner {
  clear: left;
  width: 470px;
  height: 62px;
}

#wideSkyscraper {
  width: 162px;
  height: 602px;
}

#halfPageAd {
  clear: left;
  width: 302px;
  height: 602px;
}

#button2 {
  width: 122px;
  height: 62px;
}

#microBar {
  width: 90px;
  height: 33px;
}

#smallRectangle {
  width: 302px;
  height: 62px;
}

#threeByOne {
  width: 302px;
  height: 102px;
}

#mobileBanner {
  clear: left;
  width: 322px;
  height: 52px;
}
